.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
  .details {
    width: 28rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 0 solid gray;
  transition: border-bottom 0.15s ease-out;
  background-color: white;
  font-size: 1.1rem;
  outline: none;
  &::placeholder {
    color: #dfdfdf;
    font-size: 0.95rem;
  }
  &:focus {
    border-width: 2.9px;
  }
}

input-validation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 1rem;
  height: 100%;
  width: 12rem;
}
