.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 1.5rem;
  margin-top: 0.5rem;
  ul {
    display: flex;
    flex-direction: column;
    flex: 3 0;
    justify-content: space-evenly;
    border-radius: 1rem;
    border: 1px solid #e67136;
    list-style: none;
    margin: 0.5rem;
    padding: 0;
    li {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      border-bottom: 1px solid #e67136;
      img {
        width: 5rem;
        height: 5rem;
        border-radius: 100rem;
        object-fit: cover;
      }
      div {
        padding: 1rem;
      }
      div:not(:first-child) {
        flex-basis: 18%;
      }
      select {
        width: 3rem;
        outline: none;
        border: none;
        border-bottom: 1px solid var(--gray-400);
        font-size: 1.1rem;
        font-weight: 100;
      }
      .removeBtn {
        border-radius: 1rem;
        border: none;
        padding: 0.5rem;
        color: #e72929;
        opacity: 0.7;
        outline: none;
        box-shadow: none;
      }
      .removeBtn:hover {
        opacity: 1;
        cursor: pointer;
        box-shadow: 3px 3px 3px 3px lightgrey;
      }
    }
    li:last-child {
      border: none;
    }
  }
}

a {
  color: var(--hot-red);
  text-decoration: none;
  font-weight: 500;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 3;
  height: 20rem;
  border: 1px solid #ffbbbb;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;

  & > div {
    font-size: 1.4rem;
    margin: 1rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .foods-count {
    margin-bottom: 1.5rem;
  }
  .foods-count::before {
    content: "Count: ";
    color: grey;
  }
  .total-price::before {
    content: "Price: ";
    color: grey;
  }
  a {
    padding: 1rem;
    color: white;
    background: #e67136;
    display: block;
    border-radius: 1rem;
    text-align: center;
    opacity: 0.8;
    justify-self: center;
    box-shadow: none;
    width: 99%;
  }
  a:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: 1px 3px 3px 3px lightgray;
  }
}
