:host {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: relative;
  background: white;
  padding: 0;
}

a {
  color: var(--gray-700);
  font-size: 1rem;
  font-weight: 500;

  &:hover {
    // background: var(--red-to-pink-to-purple-horizontal-gradient);
    // color: #fff;
    // background: transparent;
    color: #e67136;
    cursor: pointer;
    // border-width: 1.5px;
    // border-style: groove;
    border-radius: 10%;
    // border-image: linear-gradient(
    //     to left,
    //     oklch(63.32% 0.24 31.68) 0%,
    //     oklch(69.02% 0.277 332.77) 50%,
    //     oklch(53.18% 0.28 296.97) 100%
    //   )
    //   5 5 100%;
    // background: -webkit-linear-gradient(
    //   90deg,
    //   oklch(63.32% 0.24 31.68) 0%,
    //   oklch(69.02% 0.277 332.77) 50%,
    //   oklch(53.18% 0.28 296.97) 100%
    //  );
    //  -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    // border-image-slice: -1; // Adjust as needed for your design
  }
  &.logo {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem; // want to change later
    text-decoration: none;
    color: #e67136;
  }
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  & a {
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
  }
}

.menu-container {
  position: relative;

  &:hover .menu {
    opacity: 1;
    visibility: visible;
  }
}

.menu {
  position: absolute;
  z-index: 1;
  background-color: white;
  opacity: 0; // Initially make the menu invisible
  visibility: hidden;
  transition: opacity 1s ease, visibility 1.3s ease;
}

///Cart count

.cart {
  .more-than-9 {
    background: #e67136;
    color: white;
    padding: 0.3rem 0.35rem;
    border-radius: 100rem;
    font-size: 0.8rem;
  }
  .less-than-10 {
    background: #e67136;
    color: white;
    padding: 0.1rem 0.35rem;
    border-radius: 100rem;
    font-size: 0.9rem;
  }
  .for-one {
    background: #e67136;
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
  }
}
