<header>
  <div class="container">
    <!-- <img src="" alt="" srcset=""> -->
    <a routerLink="/" class="logo">FoOdy</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/user">user</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders"> orders</a>
            <a> Logout </a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page" class="cart">
            Cart
            <img
              src="../../../assets/cart.png"
              height="16px"
              width="16px"
              class="cart-logo"
            />
            <span>0</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
