<header>
  <div class="container">
    <!-- <img src="" alt="" srcset=""> -->
    <a routerLink="/" class="logo">FoOdy</a>
    <nav>
      <ul>
        @if(!isAuth){
        <li>
          <a routerLink="/login">Login</a>
        </li>
        } @if(isAuth){

        <li class="menu-container">
          <a routerLink="/user">{{ user.username }}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders"> orders</a>
            <a (click)="logout()"> Logout </a>
          </div>
        </li>
        }
        <li>
          <a routerLink="/cart-page" class="cart">
            Cart
            <span
              class="cart-span"
              [ngClass]="{
                'more-than-9': cartQuantity > 9,
                'less-than-10': cartQuantity <= 9,
                'for-one': cartQuantity == 1
              }"
            >
              {{ cartQuantity }}
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
