ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

a {
  height: 22.5rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--hot-red);

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  & img {
    object-fit: cover;
    height: 14.5rem;
  }
}

.content {
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
}

.favorite {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
  &.not {
    color: var(--gray-400);
  }
}

.stars {
  margin-bottom: 0.2rem;
}
.product-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.origins {
  flex: 9;
  & span {
    border-radius: 2rem;
    background: whitesmoke;
    display: inline-block;
    font-size: 0.8rem;
    color: var(--gray-400);
    margin-right: 0.3rem;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
  }
}

.cook-time {
  font-size: 0.9rem;
  flex: 3;
  text-align: right;
}

.price {
  position: absolute;
  bottom: 0;
  left: 0.9rem;
  background: white;
  padding: 0.3rem 100% 0 0;
  color: var(--gray-700);
  margin-top: 0.7rem;
  font-size: 1.1rem;
}
.card {
  box-shadow: none;
  border-radius: 1rem;
}
.card:hover {
  box-shadow: 10px 20px 20px 20px whitesmoke;

  // border: 1px solid rgb(199, 192, 192);
}
