<ul>
  @for (food of foods; track food){
  <a routerLink="/food">
    <img [src]="food.imageUrl" [alt]="food.name"  />
    <div class="content">
      <div class="name">
        {{ food.name }}
      </div>
      <span class="favorite {{food.favorite? '':'not'}}">
        ❤️
      </span>
      <div class="stars">
        <star-rating [stars]="food.stars"/>
      </div>

    <div class="product-item-footer">
      <div class="origins">
        @for (origin of food.origins; track origin) {
          <span>{{ origin }}</span>
        }
      </div>
      <div class="cook-time">
        <span>⏱️</span>
        {{food.cookTime}}
      </div>
    </div>
    <div class="price">
      <span>
        {{food.price | currency}}
      </span>
    </div>

  </div>
  </a>
  }
</ul>
