.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem;
  & > * {
    min-width: 22rem;
    max-width: 30rem;
  }
  img {
    border-radius: 3rem;
    flex: 1 0;
    object-fit: cover;
    // height: 35rem;
    margin: 1rem;
  }

  .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    padding: 2rem;
    color: black;
    margin-left: 1rem;

    .header {
      display: flex;
      justify-content: space-between;
      .name {
        font-size: 2rem;
        font-weight: bold;
      }
      .favorite {
        color: oklch(0.6142 0.238 15.34);
        font-size: 1.5rem;
        &.not {
          color: var(--gray-400);
        }
      }
    }
    .origins {
      display: flex;
      flex-wrap: wrap;
      margin: 1rem 0;
      & span {
        padding: 0.5rem;
        font-size: 1.2rem;
        margin: 0.5rem 0.5rem 0.5rem 0;
        border-radius: 2rem;
        color: oklch(60.9% 0.025 310.04);
        background-color: aliceblue;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
    }
    .cook-time {
      margin-top: 1rem;
      & span {
        padding: 0.6rem 2rem 0.6rem 0;
        border-radius: 10rem;
        font-size: 1.3rem;
      }
    }
    .price {
      font-size: 1.8rem;
      margin: 2rem 2rem 2rem 0;
      color: green;
      &::before {
        content: "Price: ";
        color: var(--gray-700);
      }
    }
    .cart-btn {
      color: white;
      background-color: #e67136;
      border: none;
      font-size: 1.2rem;
      padding: 1rem;
      border-radius: 10rem;
      outline: none;
      opacity: 0.9;
      box-shadow: none;
      cursor: pointer;
      &:hover {
        opacity: 1;
        box-shadow: 5px 5px 9px 3px rgb(190, 188, 188);
      }
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  // opacity: 0.8;
  &_link {
    background-color: whitesmoke;
    padding: 00.3rem 1rem;
    margin: 0.2rem 0.15rem;
    border-radius: 10rem;
    font-weight: 600;
    color: #ec7a49;
    opacity: 0.8;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
  }
  &_link:hover {
    opacity: 1;
    box-shadow: 3px 3px 3px rgb(221, 216, 216);
  }
}
